<br>
<br>
<br>
<br>
<br>
<div style="background-color: #2b2e4a; height: 100%;">  
    <div class="container center-align">  
      <br />
      <div class="row outsidecont" style="background-color: #53354a;">
        <br />
        <br />    
        <div class="input-field col s1"></div>
        <div class="col s10 white insidecont">
          <br />
          <br />                
            <div class="row">
              <div class="row margin">
                <div class="col s12 m12 l12 center">
                    <img src="../../assets/login.svg"
                    alt="" class="circle" style="width:45%;">                
                </div>
            </div>          
              <h1 style="font-size: 35px">Inicio de sesión</h1>        
              <div class="input-field col s8 offset-s2">
                <input
                  id="nombreUsuario"
                  name="nombre"
                  type="text"
                  class="validate"
                  required                                    
                  pattern="[a-zA-Z]{5,12}"
                  [(ngModel)]="user.username"                  
                />
                <label for="nombreUsuario">Nombre de Usuario</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s8 offset-s2">
                <input
                  id="password"
                  name="password"
                  type="password"
                  [(ngModel)]="user.password"                          
                  autocomplete="on"              
                  required
                />
                <label for="password">Contraseña</label>
              </div>
            </div>
            <div class="row" *ngIf="cargando">
              <div class="col s12 center">
                <mat-spinner style="margin:0 auto;"></mat-spinner>
              </div>
            </div>
            <div class="row"  *ngIf="!cargando">
              <div class="col s12">
                <div class="alert alert-success" *ngIf="status == 'success'">
                  <h1>Ha iniciado sesión correctamente</h1>
                  <a [routerLink]="['/inicio']">Ingresa aquí</a>
                </div>
                <div class="alert alert-danger" *ngIf="status == 'error'">
                  <h1 style="color: red;">Intentalo de nuevo, nombre de user o contraseña incorrectos</h1>
                </div>
                <button
                  class="btn-large waves-effect"
                  style="background-color: #e84545;"            
                  type="submit"
                  name="action"
                  (click)="Ingresar()"
                >
                  Ingresar
                  <i class="material-icons right">send</i>
                </button>                             
              </div>                  
            </div>          
          <div class="input-field col s1"></div>
        </div>
        <div class="row"></div>
        <br />    
      </div>
    </div>
    </div>
    
    